.modal-header{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid green;
    
    h4{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 95%;
        margin: 0;
        padding: 4px;
        text-align: center;
    }
    .modal-close-icon{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 5px;
        color: green;
        cursor: pointer;
        &:hover{
            color: #07bd69;
        }
    }
}