.ratings{
    width: 100%;
    padding-top: 16px;

    .print, .export{
        background-color: #07bd69;
        color: #fff;
        margin: 4px;
        text-shadow: 0 0 1px #000;

        &:hover{
            background-color: #19d37e;
        }
    }
    .ratings-activity{
        width: 240px;
        padding: 4px 4px;
    }
}