.form{
    .form-control{
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;

        label, & > input, 
        .wrap-radio-buttons, select, .rdt{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 50%;
        }

        &.radio-button{
            .radio-button-input{
                height: 32px;
            }
        }

        .disabled {
            opacity: 0.9;
            pointer-events: none;
        }
    }
}
.autocomplete{
    position: absolute;
    background-color: #fff;
    z-index: 10002;
    box-shadow: 0 0 4px 0px #ddd;
    padding: 4px;
    margin: 28px 0;
    max-height: 200px;
    overflow-y: auto;

    ul{
        li{
            cursor: pointer;
        }
    }
}