.grid-row{
    display: flex;
    flex-direction: row;
    width: 100%;

    .grid-column{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0 5px;
    }
}

.content-wrap{
    overflow-x: auto;
    margin-right: 20px;
    min-height: 400px;
    min-width: 1080px;
}