.tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    .tab-list{
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        .tab-list-item{
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 10px 10px 0 0;
            margin-bottom: 0px;
            cursor: pointer;
            background-color: #e8e8e8;
            &:hover{
                background-color: #f7f4f4;
            }
            &.tab-list-active{
                border-bottom: none;
                background-color: #fff;
            }
        }
    }
    .tab-content{
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        background-color: #fff;
        box-shadow: 1px 1px 1px 0px #ccc;
        border-left: 1px solid #ccc;
    }
}